[user]
	name = amalkin
	email = 102127060+anmalkin@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	edtior = vim 
	excludesfile = /Users/amalkin/.gitignore_global
[credential]
	helper = 
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
